<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="C:\Windows\System32\inetsrv\iisres.dll" resourceType="Unspecified" requireAccess="Read" preCondition="bitness64,winx86_64,winx86_64,winx86_64,winx86_64" />
        </handlers>
    </system.webServer>
</configuration>
