<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django" path="DjangoFastCgiHandler" verb="*" modules="FastCgiModule" scriptProcessor="G:\bda pbl\recommendation-engine\myenv\Scripts\wfastcgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
